<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Congratulations on deploying your Kubernetes app</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link
  href="/static/kubernetes-engine-icon.png"
  rel="icon" 
  type="image/png" 
/>
<link href="static/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<div class="container">
		<div class="hero">
			<div style="text-align:center;">
				<picture>
					<source srcset="/static/KE-hello-world-dark.svg" media="(prefers-color-scheme: dark)">
					<img src="/static/KE-hello-world.svg" alt="A group celebrating" width="427" height="231">
				</picture>
			</div>

			<div class="message">
				<h1>{{.Message}}</h1>
				<h2>Congratulations, you successfully deployed a Kubernetes application with Cloud Code!</h2>
			</div>
		</div>

		<div class="details">
			<h3>What's next?</h3>
			<ul>
				<li class="next">
					Want to help shape the future of Cloud Code? Sign up for the chance to participate in our ongoing research studies 
					<a href="https://google.qualtrics.com/jfe/form/SV_4Me7SiMewdvVYhL?reserved=1&utm_source=In-product&Q_Language=en&utm_medium=own_prd&utm_campaign=Q1&productTag=clou&campaignDate=January2021&referral_code=UXlX318928" target="_blank" rel="noopener">
					here!
					</a>
				</li>
				<li class="next">Learn more about working with Kubernetes in Cloud Code for 
					<a href="https://cloud.google.com/code/docs/vscode/how-to#working-with-kubernetes" target="_blank" rel="noopener">
						VSCode
					</a> 
					or 
					<a href="https://cloud.google.com/code/docs/intellij/how-to#working-with-kubernetes" target="_blank" rel="noopener">
						IntelliJ
					</a>
				</li>
				<li class="next">Get started with <a href="https://cloud.google.com/blog/products/application-development/how-cloud-code-improves-app-dev-on-gcp" target="_blank" rel="noopener">Google Cloud APIs</a> in Cloud Code
				</li>
				<li class="next">Watch how Cloud Code can optimize your <a href="https://www.youtube.com/watch?v=Z2fyc3AbfKE&autoplay=1" target="_blank" rel="noopener">GKE Developer Workflow</a>
				</li>
				<li class="next">Joing the <b>#cloud-code</b> channel in the <a href="https://join.slack.com/t/googlecloud-community/shared_invite/zt-erdf4ity-8ZMUQ18DYV~5hkbZ~gCswg" target="_blank" rel="noopener">Google Cloud Platform Slack community</a> to ask questions, provide feedback, and get the latest Cloud Code news
				</li>
			</ul>
			<h3>Explore more options with</h3>
			<p class="cta">
				<a href="https://cloud.google.com/code/docs" target="_blank" rel="noopener">
					CLOUD CODE DOCS
				</a>
				<a href="https://cloud.google.com/kubernetes-engine" target="_blank" rel="noopener">
					GOOGLE KUBERNETES ENGINE
				</a>
				<a href="https://google.qualtrics.com/jfe/form/SV_4Me7SiMewdvVYhL?reserved=1&utm_source=In-product&Q_Language=en&utm_medium=own_prd&utm_campaign=Q1&productTag=clou&campaignDate=January2021&referral_code=UXlX318928" target="_blank" rel="noopener">
					SIGN UP FOR USER RESEARCH
				</a>
			</p>
		</div>
	</div>
</body>
</html>